interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - token REDACTED
    method: POST
    uri: https://api.github.com/app/installations/23919646/access_tokens
  response:
    body:
      string: '{"token": "REDACTED", "expires_at": "2022-04-12T15:55:26Z", "permissions":
        {"actions": "read", "checks": "write", "contents": "write", "issues": "write",
        "metadata": "read", "pull_requests": "write", "statuses": "write", "workflows":
        "write"}, "repository_selection": "selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"6831f61c9120aca76e02f9e0a80843e19b52da268f80449588a431a602ff2fc4"'
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - token REDACTED
    method: GET
    uri: https://api.github.com/repos/pallets/werkzeug/pulls?state=closed&per_page=10&page=1
  response:
    body:
      string: "[{\"url\":\"https://api.github.com/repos/pallets/werkzeug/pulls/2383\",\"id\":903269344,\"node_id\":\"PR_kwDOAA832s411svg\",\"html_url\":\"https://github.com/pallets/werkzeug/pull/2383\",\"diff_url\":\"https://github.com/pallets/werkzeug/pull/2383.diff\",\"patch_url\":\"https://github.com/pallets/werkzeug/pull/2383.patch\",\"issue_url\":\"https://api.github.com/repos/pallets/werkzeug/issues/2383\",\"number\":2383,\"state\":\"closed\",\"locked\":false,\"title\":\"Set
        permissions for GitHub actions\",\"user\":{\"login\":\"naveensrinivasan\",\"id\":172697,\"node_id\":\"MDQ6VXNlcjE3MjY5Nw==\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/172697?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/naveensrinivasan\",\"html_url\":\"https://github.com/naveensrinivasan\",\"followers_url\":\"https://api.github.com/users/naveensrinivasan/followers\",\"following_url\":\"https://api.github.com/users/naveensrinivasan/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/naveensrinivasan/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/naveensrinivasan/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/naveensrinivasan/subscriptions\",\"organizations_url\":\"https://api.github.com/users/naveensrinivasan/orgs\",\"repos_url\":\"https://api.github.com/users/naveensrinivasan/repos\",\"events_url\":\"https://api.github.com/users/naveensrinivasan/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/naveensrinivasan/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"-
        Included permissions for the action. https://github.com/ossf/scorecard/blob/main/docs/checks.md#token-permissions\\n\\nhttps://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#permissions\\n\\nhttps://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs\\n\\n[Keeping
        your GitHub Actions and workflows secure Part 1: Preventing pwn requests](https://securitylab.github.com/research/github-actions-preventing-pwn-requests/)\\n\\n
        Restrict the GitHub token permissions only to the required ones; this way,
        even if the attackers will succeed in compromising your workflow, they won\u2019t
        be able to do much.\\n\\nSigned-off-by: naveensrinivasan <172697+naveensrinivasan@users.noreply.github.com>\\n\",\"created_at\":\"2022-04-07T22:53:47Z\",\"updated_at\":\"2022-04-08T15:06:48Z\",\"closed_at\":\"2022-04-08T15:06:48Z\",\"merged_at\":null,\"merge_commit_sha\":\"bceed0faa0f5f8b8662345501f71b99bc822e0ed\",\"assignee\":null,\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[],\"milestone\":null,\"draft\":false,\"commits_url\":\"https://api.github.com/repos/pallets/werkzeug/pulls/2383/commits\",\"review_comments_url\":\"https://api.github.com/repos/pallets/werkzeug/pulls/2383/comments\",\"review_comment_url\":\"https://api.github.com/repos/pallets/werkzeug/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/pallets/werkzeug/issues/2383/comments\",\"statuses_url\":\"https://api.github.com/repos/pallets/werkzeug/statuses/77926d1dd98de3950731c54b4a7a2a0f6b6d6ba9\",\"head\":{\"label\":\"turrisxyz:naveen/feat/set-perms-actions\",\"ref\":\"naveen/feat/set-perms-actions\",\"sha\":\"77926d1dd98de3950731c54b4a7a2a0f6b6d6ba9\",\"user\":{\"login\":\"turrisxyz\",\"id\":102306690,\"node_id\":\"O_kgDOBhkTgg\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/102306690?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/turrisxyz\",\"html_url\":\"https://github.com/turrisxyz\",\"followers_url\":\"https://api.github.com/users/turrisxyz/followers\",\"following_url\":\"https://api.github.com/users/turrisxyz/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/turrisxyz/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/turrisxyz/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/turrisxyz/subscriptions\",\"organizations_url\":\"https://api.github.com/users/turrisxyz/orgs\",\"repos_url\":\"https://api.github.com/users/turrisxyz/repos\",\"events_url\":\"https://api.github.com/users/turrisxyz/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/turrisxyz/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"repo\":{\"id\":479172408,\"node_id\":\"R_kgDOHI-XOA\",\"name\":\"werkzeug\",\"full_name\":\"turrisxyz/werkzeug\",\"private\":false,\"owner\":{\"login\":\"turrisxyz\",\"id\":102306690,\"node_id\":\"O_kgDOBhkTgg\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/102306690?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/turrisxyz\",\"html_url\":\"https://github.com/turrisxyz\",\"followers_url\":\"https://api.github.com/users/turrisxyz/followers\",\"following_url\":\"https://api.github.com/users/turrisxyz/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/turrisxyz/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/turrisxyz/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/turrisxyz/subscriptions\",\"organizations_url\":\"https://api.github.com/users/turrisxyz/orgs\",\"repos_url\":\"https://api.github.com/users/turrisxyz/repos\",\"events_url\":\"https://api.github.com/users/turrisxyz/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/turrisxyz/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"html_url\":\"https://github.com/turrisxyz/werkzeug\",\"description\":\"The
        comprehensive WSGI web application library.\",\"fork\":true,\"url\":\"https://api.github.com/repos/turrisxyz/werkzeug\",\"forks_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/forks\",\"keys_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/teams\",\"hooks_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/hooks\",\"issue_events_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/events\",\"assignees_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/tags\",\"blobs_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/languages\",\"stargazers_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/stargazers\",\"contributors_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/contributors\",\"subscribers_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/subscribers\",\"subscription_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/subscription\",\"commits_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/merges\",\"archive_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/downloads\",\"issues_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/turrisxyz/werkzeug/deployments\",\"created_at\":\"2022-04-07T22:53:35Z\",\"updated_at\":\"2022-04-07T08:00:45Z\",\"pushed_at\":\"2022-04-07T22:53:46Z\",\"git_url\":\"git://github.com/turrisxyz/werkzeug.git\",\"ssh_url\":\"git@github.com:turrisxyz/werkzeug.git\",\"clone_url\":\"https://github.com/turrisxyz/werkzeug.git\",\"svn_url\":\"https://github.com/turrisxyz/werkzeug\",\"homepage\":\"https://werkzeug.palletsprojects.com\",\"size\":14444,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":false,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"disabled\":false,\"open_issues_count\":0,\"license\":{\"key\":\"bsd-3-clause\",\"name\":\"BSD
        3-Clause \\\"New\\\" or \\\"Revised\\\" License\",\"spdx_id\":\"BSD-3-Clause\",\"url\":\"https://api.github.com/licenses/bsd-3-clause\",\"node_id\":\"MDc6TGljZW5zZTU=\"},\"allow_forking\":true,\"is_template\":false,\"topics\":[],\"visibility\":\"public\",\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"main\"}},\"base\":{\"label\":\"pallets:main\",\"ref\":\"main\",\"sha\":\"c7ae2fea4fb229ffd71187c2b665874c91b96277\",\"user\":{\"login\":\"pallets\",\"id\":16748505,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjE2NzQ4NTA1\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/16748505?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/pallets\",\"html_url\":\"https://github.com/pallets\",\"followers_url\":\"https://api.github.com/users/pallets/followers\",\"following_url\":\"https://api.github.com/users/p[...]
[...]
