interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - token REDACTED
    method: POST
    uri: https://api.github.com/app/installations/23919646/access_tokens
  response:
    body:
      string: '{"token": "REDACTED", "expires_at": "2022-04-26T12:13:27Z", "permissions":
        {"actions": "read", "checks": "write", "contents": "write", "issues": "write",
        "metadata": "read", "pull_requests": "write", "statuses": "write", "workflows":
        "write"}, "repository_selection": "selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"7ad67796f716677afd6fc971101605c69354ded508fd8c77a19a2425845ef08c"'
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - token REDACTED
    method: GET
    uri: https://api.github.com/zen
  response:
    body:
      string: It's not fully shipped until it's fast.
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-RateLimit-Limit:
      - '15000'
      X-RateLimit-Remaining:
      - '14990'
      X-RateLimit-Reset:
      - '1650973826'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '10'
    status:
      code: 200
      message: OK
version: 1
