interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - token REDACTED
    method: POST
    uri: https://api.github.com/app/installations/23919646/access_tokens
  response:
    body:
      string: '{"token": "REDACTED", "expires_at": "2022-03-29T22:12:34Z", "permissions":
        {"actions": "read", "checks": "write", "contents": "write", "issues": "write",
        "metadata": "read", "pull_requests": "write", "statuses": "write", "workflows":
        "write"}, "repository_selection": "selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"346ad92760d42b108106807939b7139415b170b649f067f24793c1648c5c9b66"'
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status:
      code: 201
      message: Created
- request:
    body: '{"text": "text"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - token REDACTED
    method: POST
    uri: https://api.github.com/markdown
  response:
    body:
      string: '<p>text</p>

        '
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-RateLimit-Limit:
      - '15000'
      X-RateLimit-Remaining:
      - '14983'
      X-RateLimit-Reset:
      - '1648591582'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '17'
      x-commonmarker-version:
      - 0.23.4
    status:
      code: 200
      message: OK
version: 1
