interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - token REDACTED
    method: POST
    uri: https://api.github.com/app/installations/23919646/access_tokens
  response:
    body:
      string: '{"token": "REDACTED", "expires_at": "2022-03-29T22:12:28Z", "permissions":
        {"actions": "read", "checks": "write", "contents": "write", "issues": "write",
        "metadata": "read", "pull_requests": "write", "statuses": "write", "workflows":
        "write"}, "repository_selection": "selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"9299f952f747d41475d1cb1566aeeb25a8dbcda8056cdc396ea87dfefc81692a"'
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - token REDACTED
    method: GET
    uri: https://api.github.com/zen
  response:
    body:
      string: Non-blocking is better than blocking.
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-RateLimit-Limit:
      - '15000'
      X-RateLimit-Remaining:
      - '14985'
      X-RateLimit-Reset:
      - '1648591582'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '15'
    status:
      code: 200
      message: OK
version: 1
