interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - token REDACTED
    method: POST
    uri: https://api.github.com/app/installations/23919646/access_tokens
  response:
    body:
      string: '{"token": "REDACTED", "expires_at": "2022-03-29T22:12:30Z", "permissions":
        {"actions": "read", "checks": "write", "contents": "write", "issues": "write",
        "metadata": "read", "pull_requests": "write", "statuses": "write", "workflows":
        "write"}, "repository_selection": "selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"71eda34d4151c529383b3610f520527793f694431ab5b3ddef366882ef3a0ed3"'
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - token REDACTED
    method: GET
    uri: https://api.github.com/users/dedoussis
  response:
    body:
      string: "{\"login\":\"dedoussis\",\"id\":24495755,\"node_id\":\"MDQ6VXNlcjI0NDk1NzU1\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/24495755?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/dedoussis\",\"html_url\":\"https://github.com/dedoussis\",\"followers_url\":\"https://api.github.com/users/dedoussis/followers\",\"following_url\":\"https://api.github.com/users/dedoussis/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/dedoussis/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/dedoussis/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/dedoussis/subscriptions\",\"organizations_url\":\"https://api.github.com/users/dedoussis/orgs\",\"repos_url\":\"https://api.github.com/users/dedoussis/repos\",\"events_url\":\"https://api.github.com/users/dedoussis/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/dedoussis/received_events\",\"type\":\"User\",\"site_admin\":false,\"name\":\"Dimitrios
        Dedoussis\",\"company\":\"Babylon @babylonhealth\",\"blog\":\"https://dedouss.is\",\"location\":\"London,
        United Kingdom\",\"email\":\"dimitrios@dedouss.is\",\"hireable\":null,\"bio\":\"
        \U0001F412 \",\"twitter_username\":\"dedoussis\",\"public_repos\":21,\"public_gists\":3,\"followers\":21,\"following\":14,\"created_at\":\"2016-12-10T16:40:07Z\",\"updated_at\":\"2022-02-25T19:48:50Z\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d09f40173c69882f4489d56b81d29aa2f48d03726169289ad189de74e6bbb5c6"
      Last-Modified:
      - Fri, 25 Feb 2022 19:48:50 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '15000'
      X-RateLimit-Remaining:
      - '14984'
      X-RateLimit-Reset:
      - '1648591582'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '16'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Modified-Since:
      - Fri, 25 Feb 2022 19:48:50 GMT
      authorization:
      - token REDACTED
    method: GET
    uri: https://api.github.com/users/dedoussis
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"493f1075dac37c8cf3bf450ab796d86f811a4a9159d4fd58bd2e3d8a04de48f7"'
      Last-Modified:
      - Fri, 25 Feb 2022 19:48:50 GMT
      X-RateLimit-Limit:
      - '15000'
      X-RateLimit-Remaining:
      - '14984'
      X-RateLimit-Reset:
      - '1648591582'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '16'
    status:
      code: 304
      message: Not Modified
version: 1
